@model FallowUP.Models.STUDENTHOMEWORK
@{
    ViewBag.Title = "GetHomework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ödevim</h2>
<br />
<p><b>@ViewData["Hcn"] - @ViewData["Hname"]</b></p>
<hr />
<p>@ViewData["Hh"]</p>
<hr />
<p>Bitiş Tarihi: @ViewData["He"]</p>
<hr />
<br />
